* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(237, 194, 21);
    background-color: rgb(0, 0, 42);
    font-size: 60px;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: white;
    background-color: rgb(235, 82, 82);
    padding: 10px;
}

h3 {
    color: white;
}

footer {
    background-color: rgb(0, 0, 42);
    color: white;
}

nav img {
   width: 100px;
}

nav ul {
    display: flex; 
    justify-content: space-evenly;
    font-size: 30px;
    background-color: rgb(0, 0, 42);
    text-align: center;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.button {
    font-size: 0.8em;
    color: white;
    padding: 0.3em;
    border: 2px solid rgb(0, 0, 42);
    border-radius: 0.3em;
    text-decoration: none;
    margin-top: 5em;
}

.button:hover {
    background: rgb(0, 0, 42);
    transition: all 250ms ease;
}

.container {
    display: flex;
    background-color: rgb(235, 82, 82);
    padding: 50px 
}

section img {
    width: 300px;
}

.container img {
    width: 4em;
}

.container li {
    justify-content: space-between;
}

nav ul li a:hover {
    transition-duration: 0.3ms;
    color: rgb(235, 82, 82);
    font-size: 1.1em;
}

.voetballers {
    background-color: rgb(235, 82, 82);
    display: flex;
    flex-wrap: wrap;
}

.teamfoto img {
    width: 100%;
}

.container {
    padding: 20px;
}

.tekst {
    padding: 10px;
}
